@use "sass:color";

body {
  font-family: 'Lato', sans-serif;
  color: #202020;
}


table {
  border-collapse: collapse;
  width: 100%;

  width: 100%;

  td,
  th {
    text-align: center;
    border-top: 1px solid #ECF0F1;
    padding: 10px;
  }

  td {
    border-left: 1px solid #ECF0F1;
    border-right: 1px solid #ECF0F1;
  }

  th {
    position: sticky;
    top: 0;
    background-color: #4ECDC4;
  }

  tr:nth-of-type(even) td {
    background-color: color.adjust(#4ECDC4, $lightness: 35%)
  }

}

.icons {
  margin-top: 10px;
  color: red;
  font-size: 18px;
  cursor: pointer;
}



.center {
  text-align: center;
}

.comp_btn {
  cursor: pointer;
  margin-left: 1rem;
  background-color: transparent;
  border: 2px solid #ef981f;
  color: #ef981f;
  transition: all 0.3s ease;
}

.comp_btn:hover {
  background-color: #ef981f;
  color: white;
}

.sell_btn {
  border: 2px solid red;
  color: red;
}

.sell_btn:hover {
  background-color: red;
  color: white;
}

.buy_btn {
  border: 2px solid green;
  color: green;
}

.buy_btn:hover {
  background-color: green;
  color: white;
}



.table_action {
  display: flex;
  text-align: center;
  color: #ef981f;
  text-decoration: underline;
  cursor: pointer;
  justify-self: center;
}

.table-container {
  max-height: 70vh;
  margin-top: 2rem;
  overflow-y: auto;
  border: 1px solid #ccc;
}