/* bg:e4e4e4 , border: #dbdbdb -> light */
/* bg:1e1f26 , border: #2d2e36 -> dark */
@use "sass:color";

.sugesstion-auto {
    display: block;
    border-radius: 7px;
    position: relative;
   
    input{
        text-align: center;
        height: 2rem;
        border: 2px solid rgb(209, 208, 208);
        width: 40rem;
    }
}

.suggestions {
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 999;
    cursor: pointer;
    width: 100%;
    max-height: 200px;
    overflow: auto;
}

.suggestions>div {
    padding: 15px 25px;
    border-bottom: 2px solid #f5c582;
    transition: all 0.1s ease;
}

.suggestions>div:hover {
    background-color: #f5c582 !important;
    color: #000000;
}

.suggestions>div,
.form-control-auto input {
    font-size: 14px !important;
    background-color: color.adjust(#f5c582, $lightness: 20%);
    color: black;
}

.suggestions > div:nth-child(even) {
    background-color: white !important;
    color: black;
}
.suggestions > div:hover {
    background-color: #f5c582 !important;
    color: black;
}